<div class="container-fluid">
    <div class="planet-card">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= @planet.img_url %>" alt="Card image cap">
        <div class="card-body" style="background-color:black;">
            <h5 class="card-title white-text">Planet Name: <%= @planet.name %></h5>
            <p class="white-text">Planet Size: <%= @planet.size %></p>
            <% if @planet.has_owner?%>
                <p class="white-text" >Planet Owner: <%= @planet.get_owner.display_name %></p>
            <% else %>
                <p class="white-text">Planet Owner: No Owner</p>
            <% end %>
        </div>
    </div>
</div>



