<div class="container">
    <div class="planet-img">
        <img src=<%= @planet.img_url %> alt="planet img url" height="500" width="500">
    </div>

    <div class="planet-info">
        <h1><%= @planet.name %></h1>
        <p>Planet Size: <%= @planet.size %></p>
    </div>

    <% @planet.moons.each do |moon|%>
            <li><%= link_to moon.name, moon_path(moon)%></li>
    <%end if @planet.moons %>

</div>