<div class="container-fluid">
    <div class="moon-img">
        <img src=<%= @moon.img_url %> alt="planet img url" height="200" width="200">
    </div>

    <div class="moon-info">
        <p>Moon Name: <%= @moon.name %></p>
        <% if @moon.user_id==nil%>
            <%= form_for(@moon, method: :patch) do |f|%>
                <%= f.submit "Claim", class: "btn btn-success" %>
            <% end %>
        <%end%>
    </div>
</div>

