<div class="moon-img">
    <img src=<%= @moon.img_url %> alt="planet img url" height="200" width="200">
</div>
<div class="moon-info">
    <p>Moon Name: <%= moon.name %></p>
    <p>belongs to: <%= moon.planet.name%></p>
</div>
